body {
  font-family: "Roboto", sans-serif, serif;
  font-size: 16px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}
.masthead {
  padding-top: 15px;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  margin: 0;
  display: inline-block;
}

.logo-link::first-letter {
  color: aqua;
}
.masthead {
  margin-bottom: 90px;
}

.header__header-nav {
  float: right;
  padding-top: 5px;
}

.nav-list__nav-item {
  list-style: none;
  float: left;
  margin-right: 35px;
}

.nav-list__nav-item:last-child {
  margin-right: 0;
}

.nav-item__link {
  font-size: 14px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item__link:hover {
  color: #1abc9c;
}

.banner__title {
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  font-weight: 600;
  font-size: 48px;
}

.banner__title::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid #1abc9c;
  margin-top: 30px;
}

.products_item__list {
  width: 25%;
  float: left;
  text-align: centre;
  list-style: none;
  margin-bottom: 30px;
}

.product_item__list-link {
  margin: 0;
  text-decoration: none;
}
.product_description {
  margin: -4px 0 0 0;
  background-color: #8c8c8c;
  width: 270px;
}
.product_item__cart:hover .product_name {
  background-color: #1abc9c;
}

.product_item__cart:hover .price_info {
  background-color: #7fd9c7;
}

.image_cart {
  margin: 0;
  width: 270px;
}

.product_name {
  float: left;
  margin: 0;
  background-color: #323232;
  color: #ffffff;
  font-family: "Roboto" sans-serif serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 50px 5px 15px;
}

.price_info {
  margin: 0;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 5px 0 5px 0;
  font-weight: 400;
  font-size: 18px;
}

.news_item__list {
  width: calc(1100-68) / 3;
  float: left;
  text-align: centre;
  list-style: none;
  /* margin-right: 26px; */
  margin-bottom: 30px;
  margin-right: 30px;
}
.news_item__list:last-child {
  margin-right: 0;
}
.news_description {
  width: 350px;
  /* float: left; */
}

.news_description::after {
  content: "";
  display: block;
  width: 135px;
  margin: 0 auto 0 0;
  border-bottom: 4px solid #1abc9c;
  margin-top: 30px;
}

.news_name {
  font-size: 18px;
  color: #555252;
  margin: 0;
}
.news_info {
  width: 350px;
  font-size: 14px;
  color: #555252;
  margin: 0;
}

.news_item__list-link {
  text-decoration: none;
}

.button_link {
  background-color: #1abc9c;
  padding: 17px 20px;
  color: #ffffff;
  width: 160px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}

.button_link:hover {
  background-color: #13705e;
}

