* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

.masthead {
  padding-top: 15px;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  margin: 0;
  float: left;
}


h1  {
  font-size: 30px;
  font-family: "Roboto" sans-serif serif;
  font-weight: 500;
  color: #555252;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
}
h1::first-letter {
  color: #1abc9c;
}


.masthead {
  margin-bottom: 90px;
}

.header__header-nav {
  float: right;
  padding-top: 5px;
}

.nav-list__nav-item {
  list-style: none;
  float: left;
  margin-right: 35px;
  padding-top: 20px;
}

.nav-list__nav-item:last-child {
  margin-right: 0;
}

.nav-item__link {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item__link:hover {
  color: #1abc9c;
}
.section_title {
  margin-bottom: 75px;
}

.banner__title {
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  font-weight: 600;
  font-size: 48px;
}

.banner__title::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid #1abc9c;
  margin-top: 30px;
}

.product_item__cart {
  background: #e9f0fd;
}

.product_item__cart img {
  display: block;
  width: 100%;
}

.products {
  margin-bottom: 75px;
}

.products_item  {

  margin: 0;
  padding: 0;
}

.products_item__list {
  width: 255px;
  float: left;
  text-align: centre;
  list-style: none;
  margin-bottom: 30px;
  margin-right: 30px;
}

.products_item__list:nth-child(4n+4) {
  margin-right: 0;
}


.product_item__list-link {
  margin: 0;
  text-decoration: none;
}
.product_description {
  background-color: #8c8c8c;
  width: 255px;
  margin-right: 15px;
}

.product_description:nth-child(4n+4) {
  margin-right: 0;
}

.product_item__cart:hover .product_item_discription {
  background-color: rgb(26, 188, 156);
}

.product_item__cart:hover .product_price {
  background-color:  rgba(255, 255, 255, 0.5);
}
 
.image_cart:last-child {
  margin-right: 0;
}

.product_item_discription {
  background-color: #323232;
}

.product_name {
  float: left;
  margin: 0;
  width: 75%;
  height: 35px;
  color: #ffffff;
  font-family: "Roboto", sans-serif, serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  padding: 0 0 0  10px;
  text-decoration: none;
  line-height: 2;
}

.product_price {
  float: right;
  margin: 0;
  width: 25%;
  height: 35px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
  padding: 5px 0 5px 0;
  font-family: "Roboto", sans-serif, serif;
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5 );
   
}

.news_item__list {
  float: left;
  list-style: none;
  width: 350px;
  margin-bottom: 30px;
  margin-right: 30px;
}



.news_item__cart {
    text-align: centre;
}

.news_item__cart img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}


.news_item__list:last-child {
  margin-right: 0;
}
.news_description {
  width: 350px;
  float: left;
}

.news_name {
  font-size: 18px;
  color: #555252;
  margin-bottom: 20px;
}

.news_name::after {
  content: "";
  display: block;
  width: 135px;
  margin: 0 auto 0 0;
  border-bottom: 4px solid #1abc9c;
  margin-top: 15px;
  margin-bottom: 20px;
}

.news_info {
  width: 350px;
  font-size: 14px;
  color: #555252;
  margin-bottom: 20px;
}

.news_item__list-link {
  display: inline-block;
  text-decoration: none;
  background-color: #1abc9c;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 80px;
  color: #ffffff;
}


.news_item__list-link:hover {
  background-color: #13705e;
}
