* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* header */

.logo {
  float: left;
  padding-top: 20px;
}
.logo_link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto", sans-serif, serif;
  font-weight: 500;
  color: #515151;
}

h1::first-letter {
  color: #1abc9c;
}

.header_menu_wraper {
  float: right;
}
.menu_link {
  float: left;
  font-size: 14px;
  font-family: "Roboto", sans-serif, serif;
  font-weight: 500;
  list-style: none;
  margin-right: 30px;
  padding-top: 50px;
}

.menu_link:last-child {
  margin-right: 0;
}


.link_item {
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  color: #515151;
}

.link_item:hover {
  color: #1abc9c;
}


/* slaider */


.slaider_wraper {
  width: 1600px;
  height: 600px;
  margin: auto;
  position: relative;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%,  rgba(49, 29, 94, 0.85) 100%);
}

.eclipse {
  width: 1600px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 2);
  opacity: 0.522;
  z-index: 0;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%,  rgba(49, 29, 94, 0.85) 100%);
}

.container_slaider {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1110px;
  height: 600px;
  margin: auto;
  position: absolute;
  
}
 
.slider-ctrl {
  position: absolute;
  border: none;
  width: 100px;
  height: 100px;
  background-color: rgba(26, 204, 153, 0.5);
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

.slider-ctrl:hover {
  background-color: rgba(26, 204, 153, 1);
}

.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slaids img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.slader_header {
  position: absolute;
  display: block;
  left: 20%;
  top: 42%;
  transform: translateX(-10%) translateY(-50%);
  color: #ffffff;
  font-size: 50px;
  font-family: "Roboto", sans-serif, serif;
  text-transform: uppercase;
  font-weight: 500;
}

.tour_menu {
  position: absolute;
  left: 37%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.tour_menu_item {
  list-style: none;
  float: left;
}
.tour_menu_link {
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 30px;
  color: #ffffff;
}

.tour_menu_link:hover {
  color: #1abc9c;
}

/* new_colection */

.new_collection_wrapper {
  width: 1600px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.new_collection_card_item {
  margin: 0;
  padding: 0;
}

.new_collection_header {
  margin: 0;
  padding: 100px 0 100px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Roboto", sans-serif, serif;
  color: #515151;
  font-weight: 400;
}

.new_collection_header::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid #1abc9c;
  margin-top: 30px;
}

.card_item_link {
  width: 250px;
  height: 280px;
  display: inline-block;
  margin-right: 32px;
  position: relative;
}

.card_item_link:last-child {
  margin-right: 0;
}

.card_item_link:hover .modal_menu {
display: block;
background-color: rgba(0, 0, 0, 0.4);
cursor: pointer;
}

.card_item_link:hover .card_item_description {
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

.card_item_link:hover .prise {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.product_card {
  background-color: #ffffff;
}

/* modal_menu */

.modal_menu {
display: none;
position: absolute;
width: 230px;
height: 260px;
text-align: center;
top: 10px;
left: 10px;
}

.modal_menu_button {
  /* border: none; */
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  margin-right: 10px;
  color: #ffffff;
}
  .button1 {
    position: absolute;
    top: 90px;
    left: 30px;
   
  }

  .button1:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }

  .button2 {
    position: absolute;
    top: 90px;
    left: 85px;
  }


  .button2:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }

  .button3 {
    position: absolute;
    top: 90px;
    left: 140px;
  }

  .button3:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }

  .button4 {
    position: absolute;
    top: 145px;
    left: 30px;
    border: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
  }

  .button4:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }


.modal_menu_button_big {
  border: none; 
  width: 160px;
  height: 50px;
  margin: 9px 0 0 0;
}

.add {
display: inline-block;
margin-left: 5px;
}
.card_item_description {
  background-color: #323232; 
}

.card_item_description_name {
  float: left;
  width: 75%;
  padding: 5px 0px 0px 10px;
  height: 30px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif, serif;
  text-transform: uppercase;
  font-weight: 400;
}
.prise {
  float: right;
  width: 25%;
  padding-top: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  height:30px;
  color: #ffffff;
}

.footer_item {
  width: 1600px;
  margin: 0 auto;
  height: 90px;
  background-color:#323232;
  color: #ffffff;
  text-align: center;
  list-style: none;
  padding: 30px;
}

footer a {
  color: rgb(26, 188, 156);
  text-decoration: none;
  cursor: pointer;
}

