* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* header */

.logo {
  float: left;
  padding-top: 20px;
}
.logo_link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto", sans-serif, serif;
  font-weight: 500;
  color: #515151;
}

h1::first-letter {
  color: #1abc9c;
}

.header_menu_wraper {
  float: right;
}
.menu_link {
  float: left;
  font-size: 14px;
  font-family: "Roboto", sans-serif, serif;
  font-weight: 500;
  list-style: none;
  margin-right: 30px;
  padding-top: 50px;
}

.menu_link:last-child {
  margin-right: 0;
}


.link_item {
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  color: #515151;
}

.link_item:hover {
  color: #1abc9c;
}


/* slaider */


.slaider_wraper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slaids {
  width: 100%;
    position: relative;
}

.slaids img {
  display: block;
  width: 100%;
  object-fit: cover;
}


.eclipse {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 2);
  opacity: 0.522;
  z-index: 0;
}

.container_slaider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1110px;
  
}
 
.slader_header_menu {
  margin: 0 12% 0 12%;
  display: inline-block;
}

.slider-ctrl {
  display: inline-block;
  border: none;
  width: 100px;
  /* background-color: rgb(26, 188, 156); */
  background-color: rgba(26, 188, 156, 0.5);
  text-align: center;
  font-size: 70px;
  color: #ffffff;
}

.slider-ctrl:hover {
  background-color: rgba(26, 188, 156, 1);
}

.slader_header {
  color: #ffffff;
  font-size: 50px;
  font-family: "Roboto", sans-serif, serif;
  text-transform: uppercase;
  font-weight: 500;
}

.tour_menu {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.tour_menu_item {
  list-style: none;
  float: left;
}
.tour_menu_link {
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 30px;
  color: #ffffff;
}

.tour_menu_link:hover {
  color: rgb(26, 188, 156);
}

/* new_colection */

.new_collection_wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.new_collection_card_item {
  margin: 0;
  padding: 0;
}

.new_collection_header {
  margin: 0;
  padding: 100px 0 100px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Roboto", sans-serif, serif;
  color: #515151;
  font-weight: 400;
}

.new_collection_header::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid rgb(26, 188, 156);
  margin-top: 30px;
}

.card_item_link {
  width: 250px;
  display: inline-block;
  margin-right: 32px;
  position: relative;
}

.card_item_link:last-child {
  margin-right: 0;
}

.card_item_link:hover .modal_menu {
display: block;
background-color: rgba(0, 0, 0, 0.4);
cursor: pointer;
}

.card_item_link:hover .card_item_description {
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

.card_item_link:hover .prise {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.product_card {
  background-color: #ffffff;
}

/* modal_menu */

.card_item_img>img {
  display: block;
  width: 100%;
  height: auto;
}

.card_item_img {
  position: relative;
}


.modal_menu {
display: none;
position: absolute;
text-align: center;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
}

.modal_menu_button_wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_menu_button {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  margin-right: 10px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  background: transparent;
   /* background: rgba(255, 255, 255, 0.1); */
   /* opacity: 1; */
}

  .button1:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }


  .button2:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }

  .button3:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }

  .button4 {
    border: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
  }

  .button4:hover {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }


.modal_menu_button_big {
  border: none; 
  width: 160px;
  height: 50px;
  margin: 9px 0 0 0;
}

.add {
display: inline-block;
margin-left: 5px;
}
.card_item_description {
  background-color: #323232; 
}

.card_item_description_name {
  float: left;
  width: 75%;
  padding: 10px 0px 10px 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif, serif;
  text-transform: uppercase;
  font-weight: 400;
}
.prise {
  float: right;
  width: 25%;
  padding: 10px 0px 10px 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif, serif;
  text-transform: uppercase;
  font-weight: 400;
}

.footer_item {
  width: 100%;
  margin: 0 auto;
  background-color:#323232;
  color: #ffffff;
  text-align: center;
  padding: 40px 0 40px 0;
}

footer a:hover {
  text-decoration: none;
  cursor: pointer;
}

footer a {
  color: rgb(26, 188, 156);
  text-decoration: none;
}
