:root {
  --textcolorlogo: #fed136;
  --textcolor2: #222222;
  --textcolor3: #777777;
  --textcolor4: #ffffff;
  --textcolor5: #bbbbbb;
  --colorline: #f38181;
  --fontfamily: "WisdomScriptAJ", sans-serif, serif;
  --textcolorheader: #95e1d3;
  --fontfamily2: "Montserrat", sans-serif;
  --fontfamily3: "DroidSerif-Italic", sans-serif;
  --fontfamily4: "Roboto", sans-serif;
}

@font-face {
	font-family: 'WisdomScriptAJ';
	src: url('./WisdomScriptAJ.eot');
	src: local('WisdomScriptAJ'), url'('../fonts/WisdomScriptAJ.woff') format('woff'), url('../fonts/WisdomScriptAJ.ttf') format('truetype');
}

@font-face {
	font-family: 'DroidSerif-Italic';
	src: local('DroidSerif-Italic'), url('../fonts/DroidSerif-Italic.ttf') format('truetype');
}


/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local'(Montserrat-SemiBold'),
       url('../fonts/montserrat-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}


ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header-menu {
  width: 1400px;
  margin: 0 auto;
}

.logo {
  font-size: 26px;
  line-height: 2.929;
  color: var(--textcolorlogo);
  text-decoration: none;
  /* font-family: "WisdomScriptAJ"; */
  font-family: var(--fontfamily);
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu_nav {
  width: 485px;
  display: flex;
  justify-content: space-between;
}

.menu_link {
  display: flex;
  justify-content: space-between;
}

.menu_link a {
  font-size: 14px;
  font-family: 'Montserrat';
  color: var(--textcolor2);
  text-transform: uppercase;
  line-height: 10;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.menu_link a:hover {
  color: var(--textcolorlogo);
}

.services {
  width: 1400px;
  margin: 0 auto;
}


.services-title {
  text-align: center;
  font-family: var(--fontfamily2);
  font-weight: 600;
  font-size: 40px;
  color: var(--textcolor2);
}

.services-title_part {
  font-family: var(--fontfamily3);
  font-size: 16px;
  color: var(--textcolor3);
}

.services-bloc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.services-item {
  text-align: center;
  width: 30.85%;
}

.services-item-image {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 2px solid var(--textcolorlogo);
  border-radius: 35px; 
  line-height: 100px;
  
}

.item-servic-image img {
  vertical-align: middle;
}

.services-item-name {
  font-family: var(--fontfamily2);
  color: var(--textcolor2);
  font-size: 18px;

}

.services-item-description {
  font-family: var(--fontfamily3);
  color: var(--textcolor3);
  /* padding: 0 30px 0 30px; */
  font-size: 14px;
  

}

.contact {
  width: 1400px;
  margin: 0 auto;
  height: auto;
  background-color: #222222;
  height: auto;
  background-color: #222222;
  background-image: url(../img/Map\ Image.png);
  background-position: right; 
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center;  */
}

.contact-title {
  text-align: center;
  font-family: var(--fontfamily2);
  font-weight: 400;
  font-size: 40px;
  color: var(--textcolor4);
  line-height: 1.2;
}

.contact-title_part {
  font-family: var(--fontfamily3);
  font-size: 16px;
  color: var(--textcolor3);
}

.wrapper_form {
  display: flex;
  justify-content: space-between;
}
.form-personal-data {
   width: 48.8%;
}
.input {
  line-height: 2;
  width: 100%;
  margin-bottom: 28px;

}

.input::placeholder {
  font-family: var(--fontfamily2);
  font-size: 14px;
  color: var(--textcolor5);
  text-transform: uppercase;
}

/* .textarea::placeholder {
  font-family: var(--fontfamily2);
  font-size: 14px;
  color: var(--textcolor2);
  text-transform: uppercase;
} */

.form-message {
  display: inline-block;
  width: 48.8%;
}

.submit {
  display: flex;
  justify-content: center;
  padding-bottom: 105px;
}

input[type=submit] {
  padding:15px 35px; 
  background: var(--textcolorlogo); 
  border:0 none;
  cursor:pointer;
  font-family: var(--fontfamily2);
  color: var(--textcolor4);
  text-transform: uppercase;
}
