:root {
  --textcolorlogo: #fed136;
  --textcolor2: #222222;
  --textcolor3: #777777;
  --textcolor4: #ffffff;
  --textcolor5: #bbbbbb;
  --textcolor6: #333333;
  --textcolor7: #666666;
  --colorline: #f38181;
  --textcolor5: #ff4e50;
  --fontfamily: "WisdomScriptAJ", sans-serif, serif;
  --textcolorheader: #95e1d3;
  --fontfamily2: "Montserrat", sans-serif;
  --fontfamily3: "DroidSerif-Italic", sans-serif;
  --fontfamily4: "Roboto", sans-serif;
}

@font-face {
  font-family: "WisdomScriptAJ";
  src: url("./WisdomScriptAJ.eot");
  src: local("WisdomScriptAJ"),
    url("../fonts/WisdomScriptAJ.woff") format("woff"),
    url("../fonts/WisdomScriptAJ.ttf") format("truetype");
}

@font-face {
  font-family: "DroidSerif-Italic";
  src: local("DroidSerif-Italic"),
    url("../fonts/DroidSerif-Italic.ttf") format("truetype");
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v12-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.header-menu {
  background-image: url(../img/header_bg.png);
  background-color: #1a1915;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.login-registration {
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.login {
  width: 90px;
  padding: 40px 0 10px 0;
  box-sizing: border-box;
  text-align: center;
}

.login a {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-decoration: none;
  font-size: 14px;
}

.registration {
  width: 90px;
  padding: 7px 0 7px 0;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid var(--textcolor4);
  border-radius: 15px;
}

.registration a {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-decoration: none;
  font-size: 14px;
}

.logo {
  width: 320px;
  font-size: 20px;
  line-height: 2.929;
  color: var(--textcolor4);
  text-decoration: none;
  font-family: var(--fontfamily2);
  text-transform: uppercase;
  text-align: center;
}

.title-service {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

.title-service-part {
  color: var(--textcolor4);
  font-family: var(--fontfamily4);
  font-size: 18px;
  text-align: center;
  padding: 0 40px 0 40px;
}

.find {
  width: 280px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--textcolor5);
  border-radius: 20px;
  margin-bottom: 140px;
}

.find a {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.partners {
  text-align: center;
}

.partner-bloc {
  width: 320px;
}

.title-partners {
  color: var(--textcolor6);
  font-family: var(--fontfamily2);
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  padding: 0 15px 0 15px;
}

.partner-bloc {
  text-align: center;
}

.img-bloc {
  display: inline-block;
  width: 120px;
  height: auto;
  position: relative;
  margin-bottom: 10px;
}

.img-bloc_decoration {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 4px solid white;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 30px;
}

.img-bloc__decoration_color-red {
background-color: red;
}

.img-bloc__decoration_color-yellow {
  background-color: #ffa507;
}

.img-bloc__decoration_color-green {
  background-color: #1cd7ad;
}

.img-bloc__decoration_color-blue {
  background-color: #4e73db;
}

.img-bloc_decoration img {
  width: 65%;
  height: auto;
}

.name-bloc {
  color: var(--textcolor6);
  font-family: var(--fontfamily2);
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px 24px 15px;
}

.description-partner {
  color: var(--textcolor7);
  font-family: var(--fontfamily4);
  font-weight: 400;
  font-size: 14px;
  padding: 0 30px 28px 30px;
}


.find-other {
  width: 280px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  border: 2px solid var(--textcolor5);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto 57px auto;
  
}

.find-other a {
text-decoration: none;
color: var(--textcolor5);
}

@media (min-width:768px) {
  .header-menu {
    background-image: url(../img/header_bg_768.png);
    background-color: #1a1915;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;

  }

  .title-partners {
    margin: 0 0 35px 0;
  }
  .container {
    width: 660px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .login-registration {
   margin: 0 0 50px 0;
   order: 2;
  }

  .logo {
    font-weight: 600;
    font-size: 20px;

  }
  .partners {
    display: flex;
    flex-wrap: wrap;
  }

  .partner-bloc {
    flex-direction: column;
    align-items: center;
  }

}

@media (min-width:1200px) {
  .header-menu {
    background-image: url(../img/header_bg_1200.png);
    background-color: #1a1915;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;

  }

  .container {
    width: 940px;
    margin: 0 auto;
  }

  .partners {
     flex-wrap: nowrap;
  }

  .header {
    margin-bottom: 100px;
  }
  .find {
    margin-bottom: 230px;
  }
}
