:root {
  --textcolor4: #ffffff;
  --textcolor5: #ff4e50;
  --textcolor6: #333333;
  --textcolor7: #666666;
  --fontfamily: "WisdomScriptAJ", sans-serif, serif;
  --fontfamily2: "Montserrat", sans-serif;
  --fontfamily4: "Roboto", sans-serif;
}

@font-face {
  font-family: "WisdomScriptAJ";
  src: url("./WisdomScriptAJ.eot");
  src: local("WisdomScriptAJ"),
    url("../fonts/WisdomScriptAJ.woff") format("woff"),
    url("../fonts/WisdomScriptAJ.ttf") format("truetype");
}

@font-face {
  font-family: "DroidSerif-Italic";
  src: local("DroidSerif-Italic"),
    url("../fonts/DroidSerif-Italic.ttf") format("truetype");
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v12-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
}

header {
  width: 100%;
}

.wrapper {
  background-image: url(../img/header_bg.png);
  background-color: #1a1915;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-registration {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.login {
  width: 90px;
  padding: 7px 0 7px 0;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
}

.login:hover {
  border: 2px solid var(--textcolor4);
}

.login a {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-decoration: none;
  font-size: 14px;
}

.registration {
  width: 90px;
  padding: 7px 0 7px 0;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
}

.registration:hover {
  border: 2px solid var(--textcolor4);
}

.registration a {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-decoration: none;
  font-size: 14px;
}

.logo {
  display: inline-block;
  width: 320px;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.929;
  color: var(--textcolor4);
  text-decoration: none;
  font-family: var(--fontfamily2);
  text-transform: uppercase;
  text-align: center;
}

.title-service {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

.title-service-part {
  color: var(--textcolor4);
  font-family: var(--fontfamily4);
  font-size: 18px;
  text-align: center;
  padding: 0 40px 0 40px;
}

.find {
  width: 280px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--textcolor5);
  border-radius: 20px;
  margin-bottom: 140px;
}

.find a {
  color: var(--textcolor4);
  font-family: var(--fontfamily2);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.partners {
  text-align: center;
}

.partner-bloc {
  width: 320px;
}

.title-partners {
  color: var(--textcolor6);
  font-family: var(--fontfamily2);
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  padding: 0 15px 0 15px;
}

.partner-bloc {
  text-align: center;
}

.img-bloc {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 60px;
}

.img-bloc img {
  width: 100%;
  height: auto;
}

.img-bloc-tv::after {
  content: url(../img/tv.png);
  display: block;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 40px;
}

.img-bloc-bootle::after {
  content: url(../img/botle.png);
  display: block;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  background-color: #ffa507;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 40px;
}

.img-bloc-cup::after {
  content: url(../img/cup2.png);
  display: block;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  background-color: #1cd7ad;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 40px;
}

.img-bloc-fly::after {
  content: url(../img/fly.png);
  display: block;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  background-color: #4e73db;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 40px;
}

.name-bloc {
  color: var(--textcolor6);
  font-family: var(--fontfamily2);
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px 24px 15px;
}

.description-partner {
  color: var(--textcolor7);
  font-family: var(--fontfamily4);
  font-weight: 400;
  font-size: 14px;
  padding: 0 30px 28px 30px;
}

.find-other {
  width: 280px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  border: 2px solid var(--textcolor5);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto 57px auto;
}

.find-other a {
  text-decoration: none;
  color: var(--textcolor5);
  font-family: var(--fontfamily2);
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 768px) {
  .wrapper {
    background-image: url(../img/header_bg_768.png);
    background-color: #1a1915;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;
  }

  .title-partners {
    margin: 0 0 35px 0;
  }
  .container {
    width: 660px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .login-registration {
    margin: 40px 0 50px 0;
    order: 2;
  }

  .logo {
    font-size: 20px;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
  }

  .partner-bloc {
    flex-direction: column;
    align-items: center;
  }

  .find-other {
    width: 190px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    background-image: url(../img/header_bg_1200.png);
    background-color: #1a1915;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 75px;
  }

  .container {
    width: 940px;
    margin: 0 auto;
  }

  .partners {
    flex-wrap: nowrap;
  }

  .header {
    margin-bottom: 100px;
  }
  .find {
    width: 230px;
    margin-bottom: 230px;
  }

  .find a {
    font-weight: 600;
    font-size: 14px;
  }

  .find-other a {
    font-weight: 600;
    font-size: 14px;
  }
}
