body {
  font-family: 'Playfair Display',"Roboto", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}
.container {
  width: 900px;
  margin: 0 auto;
}

.mastheader {
  margin: 0 auto 100px auto;
  padding-top: 75px;
  margin-bottom: 100px;
  text-align: center;
 
}

.nav_list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.nav_list_item {
  list-style: none;
  display: inline-block;
  margin-right: 100px;
}

.nav_list_item:last-child {
  margin-right: 0;
}

.item_link {
  color: #626262;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}
.navbar {
  display: inline-block;
}

.item_link {
   text-transform: uppercase;
}

:hover.item_link {
  color: #03a9f4;
}

.article_discripion {
  padding: 0 0 90px 0;
  font-size: 0;
}

.article_bloc {
  display: inline-block;
  width: 420px;
  font-size: 16px;
}

.life {
  color: #b0b0aa;
  font-family: 'Ubuntu','Playfair Display', "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.article_header {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

.article_odd {
  margin-right: 60px;
}

.button_wrapper {
  
  display: block;
  text-align: center;
  padding: 0 0 60px 0;
}

.button_size {
  margin: 0 auto;
  padding: 20px 40px 20px 40px;
  width: 160px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #626262;
  line-height: 2.6;
  text-decoration: none;
  color: #626262;
  font-family: 'Playfair Display', serif;
}

.button_size:hover  {
  color: #03a9f4;
}
