body {
  font-family: 'Playfair Display',"Roboto", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}
.container {
  width: 900px;
  margin: 0 auto;
}

.mastheader {
  margin: 0 auto 100px auto;
  padding-top: 75px;
  margin-bottom: 100px;
  width: 565px;
  text-align: center;
 
}
.mastheader_nav {
  text-align: center;
}

.nav_list {
  margin: 0;
  padding: 0;
  
  text-align: center;
  display: inline-block;
}

.nav_list_item {
  list-style: none;
  display: inline-block;
  margin-right: 28px;
  
}

.item_link {
  color: #626262;
  font-size: 24px;
  text-decoration: none;
}
.navbar {
  display: inline-block;
}

.item_link {
   text-transform: uppercase;
}

:hover.item_link {
  color: #03a9f4;
}

.article_discription {
  padding: 100px 0 90px 0;
}

.article_bloc {
  display: inline-block;
  width: 420px;
}

article {
  display: inline-block;
}
.article_odd {
  margin-right: 56px;
}

.life {
  color: #b0b0aa;
  font-family: 'Ubuntu','Playfair Display', "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.button_wrapper {
  
  display: block;
  text-align: center;
  padding: 40px 0 60px 0;
}

.button_size {
  margin: 0 auto;

  width: 160px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #626262;
  line-height: 2.6;
  
}

a {
  text-decoration: none;
  color: #626262;
}

.button_size:hover  a {
  color: #03a9f4;
  
}